header {
    background-color: #5071c7;
    padding: 1rem 2rem;
    height: 67px;
    overflow: hidden;
}

header img {
    width: 50px;
    height: 35px;
}

header #menu {
    font-size: 35px;
    color: white;
    cursor: pointer;
}

#header {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    
}

header menu {
    display: block;
    color: white;
    font-size: 1.1rem;
}

header menu li {
    padding-top: 1rem;
}

header menu li a {
    color: white;
}

section {
    margin-top: 2rem;
}

section h1 {
    font-weight: 300;
    margin-bottom: 1rem;
}

#registro {
    display: grid;

    gap: 0.25rem;

    grid: 
        "ano            mes         dia"        2rem
        "tipo tipo                  tipo"       2rem
        "descricao      descricao   descricao"  2rem
        "valor          valor       button"     2rem
        /1fr            1fr         1fr
    ;
}

@media (min-width: 992px) {
    #registro {
    display: grid;

    gap: 0.25rem;

    grid: 
        "ano            mes         dia"        2rem
        "tipo           tipo        tipo"       2rem
        "descricao      descricao   descricao"  2rem
        "valor          valor       button"     2rem
        /1fr            1fr         1fr
    ;
}#registro {
    display: grid;

    gap: 0.25rem;

    grid: 
        "ano            mes         dia         tipo    tipo"        2rem
        "descricao      descricao   descricao   valor   button"      2rem
        /1fr            1fr         1fr         1fr     1fr
    ;
}
}

#ano {
    grid-area: ano;
}

#mes {
    grid-area: mes;
}

#dia {
    grid-area: dia;
}

#tipo {
    grid-area: tipo;
}

#descricao {
    grid-area: descricao;
}

#valor {
    grid-area: valor;
}

#button {
    background-color: #5071c7;
    grid-area: button;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
}